# Laravel & Composer
/vendor
composer.phar
composer.lock
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Frontend & Vite
/node_modules
/public/build
/public/hot
/public/storage

# Storage & Logs
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/docs/
/architecture/
/uiux/
/decisions/
Agent.md


# IDE & OS
.DS_Store
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker volumes (if locally mapped)
/docker/mysql/data/*
!/docker/mysql/data/.gitkeep
